<header>
  <ul class="nav">
    <li>
      <a href="/">home<small>in the 306 / 639</small></a>
    </li>
    <li>
      <a href="/about">about<small>what is this thing</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
